.wrapper {
    background-color: rgb(255, 255, 255);
}

.main {
    flex: 1;
    min-height: 400px;
    background-color: light-dark(var(--mantine-color-pink-8), var(--mantine-color-dark-6));
    color: rgb(68, 25, 106);
    font-size: var(--mantine-font-size-md);
    padding-bottom: 50px;
}